<style type='text/css'>

/* Universal Elements */

body {
	background:#EDEDED;
	color:#4D4D4D;
	margin:0;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.header {
	width: 100%;
	height: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #429ED6;
background: -moz-linear-gradient(top,  #429ed6 0%, #4ab3ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#429ed6), color-stop(100%,#4ab3ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #429ed6 0%,#4ab3ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #429ed6 0%,#4ab3ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #429ed6 0%,#4ab3ef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #429ed6 0%,#4ab3ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429ed6', endColorstr='#4ab3ef',GradientType=0 ); /* IE6-9 */

}

.headrunner {
	width: 100%;
	height: 30px;
	background: #636363; /* Old browsers */
background: -moz-linear-gradient(top,  #636363 0%, #4d4d4d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #636363 0%,#4d4d4d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */

}

.sitetitle {
    color: #f5f5f5;
    width: 880px;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}


.sitetitle_logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 12px;
    width: 300px;
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
	position: relative;
	top: -5;
	 z-index: 7;
}

.sitetitle_login {
    font-size: 12px;
    width: 300px;
    text-align: right;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    float: right;
}

.headlogout {
	color: #dadada;
	font-size: 10px;
	text-transform: uppercase;
	font-style: italic;
}

.headuser {
	font-family: 'Mission Gothic';
	font-size: 22px;
	font-weight: 500;
}


.sitebody {
	width: 900px;
	margin-top: 10px;
	padding-bottom: 20px;
	position: relative;
}

/* Navigation */

.sitebody_navleft {
	width: 180px;
	margin: 0;
	padding: 0;
	float: left;
	text-align: left;
}

.navleft_itembox {
	width: 140px;
	padding-top: 55px;
	height: 85px;
	text-align: center;
	border-radius: 100px;
	background: white;
	z-index: 1;
	position: relative;
	border: 3px solid #EDEDED;
	font-family: 'Blanch';
	font-size: 32px;
	font-weight: bold;
}

.navleft_itembox a:link, .navleft_itembox a:visited {
	color:#4D4D4D;
}

/* Site Content Area (right) */

.sitebody_contentright {
	width: 695px;
	margin: 0;
	padding: 0;
	float: right;
	text-align: left;
	position: relative;
}

.sitebody_sectionheader {
	font-weight: 700;
	font-size: 38px;
	padding-right: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
}

.sitebody_sectioncaption {
	font-weight: 200;
	padding-right: 12px;
	margin-top: 2px;
	margin-bottom: 8px;
	float: left;
}

.sectionheader_addnew {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Blanch';
	color: #949494;
	background: white;
	float: left;
	margin-top: 20px;
	border-radius: 40px;
}

.sectionheader_addnew a:link, .sectionheader_addnew a:visited {
	color: #949494;
}

/* Logged In Page Item Blocks */

.sitebody_blockholder {
	width: 695px;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.sitebody_itemblock {
	float: left;
	width: 185px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 0px;
	padding: 10px;
	height: 170px;
	background-color: white;
	border-radius: 2px;
}

.itemblock_title {
	width: 185px;
	padding: 0;
	font-weight: bold;
	color: #429ED6;
	text-align: left;
}

.itemblock_class {
	width: 185px;
	padding: 0;
	margin-bottom: 7px;
	font-size: 11px;
	text-align: left;
}

.itemblock_image {
	width: 185px;
	height: 130px;
	margin-bottom: 5px;
	padding: 0;
	position: relative;
	z-index: 1;
	border-radius: 2px;
}

.itemblock_imagelighter {
	width: 145px;
	height: 90px;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-image: url('images/whitetrans.png');
	font-size: 10px;
	text-align: center;
	border-radius: 2px;
}

.itemblock_notifier {
	width: 25px;
	height: 23px;
	padding-top: 2px;
	background-color: white;
	border-radius: 50px;
	z-index: 3;
	position: absolute;
	top: 100;
	left: 155;
	font-weight: bold;
	color: #949494;
	font-size: 16px;
}

/* Front Class List Elements */

.classrow {
	width: 675px;
	background-color: white;
	border-radius: 2px;
	font-weight: 200;
	font-size: 22px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.classrow_inactive {
	width: 675px;
	background-color: white;
	border-radius: 2px;
	font-weight: 200;
	font-size: 16px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.classrow_name {
	width: 300px;
	float: left;
	margin: 0;
	padding: 0;
}

.classrow_name_inactive {
	width: 300px;
	float: left;
	margin: 0;
	padding: 0;
	font-style: italic;
}

.classrow_number {
	width: 300px;
	float: right;
	margin: 0;
	padding: 0;
	color: #429ED6;
	font-weight: bold;
	text-align: right;
}

.classrow_number_inactive {
	width: 300px;
	float: right;
	margin: 0;
	padding: 0;
	color: #949494;
	font-weight: bold;
	text-align: right;
}

.classrow_icon {
	font-family: 'Heydings Common Icons';
	color: #949494;
	font-weight: normal;
	font-size: 18px;
}

.classrow_icon_inactive {
	font-family: 'Heydings Common Icons';
	color: #949494;
	font-weight: normal;
	font-size: 14px;
}

/* Non-Logged In Front Page Elements */

.top_background {
	position: fixed;
	left: 0;
	top: 70;
	z-index: 0;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url('images/map.png');
	background-position: center;
}
.gateway_holder {
	width: 900px;
}
.gateway_tagline {
	width: 500px;
	padding: 20px;
	background-image: url('images/whitetrans.png');
	font-weight: 700;
	font-size: 38px;
	text-align: left;
	float: right;
	margin-right: 70px;
}

.gateway_undertag {
	font-size: 24px;
	font-weight: 200;
	letter-spacing: 2px;
}

.gateway_circleimage {
	width: 160px;
	height: 160px;
	border-radius: 200px;
	float: left;
	margin-left: 70px;
	background-image: url('images/bulb.png');
}

.gateway_registerside {
	width: 180px;
	height: 115px;
	border-radius: 200px;
	padding: 25px;
	padding-top: 90px;
	float: left;
	position: relative;
	top: 275;
	background: white;
	margin-left: 150px;
}

.gateway_loginside {
	width: 180px;
	height: 115px;
	border-radius: 200px;
	padding: 25px;
	padding-top: 90px;
	float: right;
	position: relative;
	top: 275;
	background: white;
	margin-right: 150px;
}


/* Input Fields */
.basicform {
	margin-top: 12px;
	width: 642px;
}

.basicfield_label {
	background-color: white;
	border: 1px solid white;
	border-right: 0;
	padding: 10px;
	font-family: "Helvetica Neue";
	font-weight: 400;
	font-size: 14px;
	font-style: italic;
	float: left;
	width: 120px;
	text-align: right;
	position: relative;
	top: 2;
}

.basicfield_fieldholder {
	width: 642px;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	background: white;
	top: 2;
	margin-bottom: 6px;
}

.basicfield_selectholder {
	background-color: white;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px dashed #949494;
	padding: 9px;
	padding-bottom: 10px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 16px;
	width: 381px;
	text-align: left;
	float: left;
	position: relative;
}

.basicfield_input {
	background-color: white;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px dashed #949494;
	padding: 9px;
	padding-bottom: 10px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 16px;
	width: 500px;
	text-align: left;
	float: left;
}

.basicfield_select {
	background: white;
	border: 1px solid #949494;
	padding: 9px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 16px;
	text-align: left;
}

.basicfield_submit {
	background-color: white;
	border: 1px solid white;
	padding: 10px;
	margin-top: 10px;
	font-family: "Helvetica Neue";
	font-weight: 100;
	font-size: 20px;
	width: 200px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	float: right;
}

/* Registration Page */

.wholepage_formholder {
	width: 742px;
	text-align: center;
	margin-left: 129px;
}

/* View Classes Page */

.class_minidetails {
	font-size: 13px;
	font-weight: 700;
}

.class_minidetails a:link, .class_minidetails a:visited {
	color: #949494;
}

/* Individual Class Page */

.class_infopanel {
	width: 220px;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	float: left;
}

.class_detailrow {
	padding: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 600;
}

.class_detailspec {
	font-weight: 200;
}

.bulletstyle {
	color: #429ED6;
}

.blendinback {
	color: #EDEDED;
}

.detail_editsite, .detail_editsite a:link, .detail_editsite a:visited {
	color: #949494;
	font-size: 14px;
	font-weight: 200;
}

.infopanel_activitysection {
	width: 200px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border-radius: 2px;
	color: #429ED6;
	font-weight: bold;
}

.class_studentpanel {
	width: 400px;
	padding: 0;
	padding-left: 35px;
	margin: 0;
	margin-top: 10px;
	border-left: 3px double #DEDEDE;
	float: right;
}

.class_sectionheader {
	font-weight: 400;
	font-size: 30px;
	padding-right: 8px;
	margin-top: 0px;
	margin-bottom: 5px;
	float: left;
}

.class_addnew {
	margin-top: 5px;
}

.studentrow {
	width: 380px;
	background-color: white;
	border-radius: 2px;
	font-weight: 200;
	font-size: 18px;
	padding: 8px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.studentrow_name {
	width: 180px;
	float: left;
	margin: 0;
	padding: 0;
}

.studentrow_report {
	width: 100px;
	float: right;
	margin: 0;
	padding: 0;
	color: #429ED6;
	font-weight: bold;
	text-align: right;
}

.studentrow_male {
	font-family: 'Heydings Common Icons';
	color: #4682B4;
	font-weight: normal;
	font-size: 16px;
}

.studentrow_female {
	font-family: 'Heydings Common Icons';
	color: #DB7093;
	font-weight: normal;
	font-size: 16px;
}

/* Technical Stuff */

.clear {
	clear: both;
}

.layer4 {
	z-index: 4;
	position: relative;
}

.layer3 {
	z-index: 3;
	position: relative;
	top: -35;
}

.layer2 {
	z-index: 2;
	position: relative;
	top: -70;
}

.layer1 {
	z-index: 1;
	position: relative;
	top: -105;
}

.layer0 {
	z-index: 0;
	position: relative;
	top: -150;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.nobottommargin {
	margin-bottom: 0px;
}

.nobottompadding {
	padding-bottom: 0px;
}

.notoppadding {
	padding-top: 0px;
}

.addbottompadding {
	padding-bottom: 5px;
}

.addtopmargin {
	margin-top: 20px;
}

.textaligncenter {
	text-align: center;
}

.headertext {
	font-weight: 700;
	font-size: 38px;
}

.thintext {
	font-weight: 200;
}

.blue, .blue a:link, .blue a:visited {
	color: #4682B4;
}
</style>