<style type='text/css'>

/* Universal Elements */

body {
	background:#FAFAFA;
	color:#4D4D4D;
	margin:0;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.header {
	width: 100%;
	height: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #4e9689; /* Old browsers */
background: -moz-linear-gradient(top,  #4e9689 0%, #57a899 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e9689), color-stop(100%,#57a899)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4e9689 0%,#57a899 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4e9689 0%,#57a899 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4e9689 0%,#57a899 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4e9689 0%,#57a899 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e9689', endColorstr='#57a899',GradientType=0 ); /* IE6-9 */

}

.headrunner {
	width: 100%;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #EDEDED;
	font-size: 14px;
	background: #636363; /* Old browsers */
background: -moz-linear-gradient(top,  #636363 0%, #4d4d4d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #636363 0%,#4d4d4d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */

}

.headrunner_loggedin {
	width: 880px;
	text-align: right;
	color: #EDEDED;
}

.headrunner_loggedin a:link{
	color: #EDEDED
}

.sitetitle {
    color: #f5f5f5;
    width: 880px;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}


.sitetitle_logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 12px;
    width: 72px;
    text-align: left;
    margin: 0;
    float: left;
	position: relative;
	top: -5;
	 z-index: 7;
}

.sitetitle_text {
	float: left;
	font-size: 20px;
	font-family: 'Mission Gothic';
	color: #EDEDED;
	padding-top: 27px;
	position: relative;
	z-index: 5;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.text_strong {
	color: #EDEDED;
	font-weight: 700;
}

.text_black {
	color: black;
}

.sitetitle_login {
    font-size: 18px;
	font-family: 'Mission Gothic';
	color: #EDEDED;
	padding-top: 28px;
	position: relative;
	z-index: 5;
	font-weight: 100;
	letter-spacing: 1px;
    float: right;
}

.sitetitle_personicon {
	font-family: 'Heydings Common Icons';
	font-weight: normal;
	font-size: 14px;
}

.headlogout {
	color: #dadada;
	font-size: 10px;
	text-transform: uppercase;
	font-style: italic;
}

.headuser {
	font-family: 'Mission Gothic';
	font-size: 22px;
	font-weight: 500;
}


.sitebody {
	width: 900px;
	position: relative;
	background: #EDEDED;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}

/* New Navigation */

.navleft_itembar {
	width: 130px;
	padding: 15px;
	text-align: left;
	font-size: 14px;
	color: #4D4D4D;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid #ebebeb;
	font-weight: 800;
}

.navleft_itembar a:link, .navleft_itembar a:visited {
 color: #4D4D4D;
}

.navleft_open {
	background: #ebebeb;
}

/* Navigation */

.sitebody_navleft {
	width: 160px;
	margin: 0;
	padding: 0;
	float: left;
	text-align: left;
	border-right: 1px solid #ebebeb;
	min-height: 700px;
	background: #FAFAFA;
}

.navleft_itembox {
	width: 140px;
	padding-top: 60px;
	height: 80px;
	text-align: center;
	border-radius: 100px;
	background: #FAFAFA;
	z-index: 1;
	position: relative;
	border: 3px solid #EDEDED;
	font-family: 'Mission Gothic';
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 200;
}

.navleft_itembox a:link, .navleft_itembox a:visited {
	color:#4D4D4D;
}

/* Site Content Area (right) */

.sitebody_contentright {
	width: 714px;
	margin: 0;
	padding: 0;
	float: right;
	text-align: left;
	position: relative;
	padding-left: 25px;
	padding-top: 15px;

}

.sitebody_rightcolumn {
	width: 319px;
	float: right;
	padding-right: 25px;
	padding-left: 25px;
	min-height: 700px;
}

.sitebody_leftcolumn {
	width: 319px;
	float: left;
	padding-right: 25px;
	border-right: 1px solid #FAFAFA;
	min-height: 700px;
}

.sitebody_sectionheader {
	font-weight: 700;
	font-size: 32px;
	padding-right: 12px;
	margin-bottom: 15px;
	float: left;
}

.sitebody_sectioncaption {
	font-weight: 200;
	padding-right: 12px;
	margin-top: 2px;
	margin-bottom: 8px;
	float: left;
}

.sectionheader_addnew {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Blanch';
	color: #bbbbbb;
	float: left;
	margin-top: 6px;
	border-radius: 40px;
	background: #FAFAFA; /* Old browsers */

}

.sectionheader_addnew a:link, .sectionheader_addnew a:visited {
	color: #949494;
}

/* Logged In Page Item Blocks */

.sitebody_itemblock {
	float: left;
	width: 319px;
	margin-bottom: 20px;
	margin-left: 0px;
	background-color: #FAFAFA;
	border-radius: 3px;
	background: #FAFAFA; /* Old browsers */
}

.itemblock_title {
	width: 299px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 500;
	font-size: 18px;
	color: #FAFAFA;
	text-align: left;
	background: #636363; /* Old browsers */
background: -moz-linear-gradient(top,  #636363 0%, #4d4d4d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #636363 0%,#4d4d4d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #636363 0%,#4d4d4d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.itemblock_class {
	width: 299px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ededed;
	font-size: 11px;
	text-align: left;
	background: #4d4d4d;
	color: #ededed;
}

.itemblock_class a:link, .itemblock_class a:visited  {
	color: #bbbbbb;
}

.itemblock_middletext {
	width: 299px;
	padding: 10px;
	height: 60px;
	border-bottom: 1px solid #ededed;
	font-size: 14px;
	background: #FAFAFA;
	
}

.itemblock_strong {
	color: steelblue;
	font-weight: 600;
}

.itemblock_bottompanel {
	height: 45px;
	width: 319px;
	background: #FAFAFA;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.itemblock_block1 {
	float:left;
	width: 45px;
	height: 45px;
	border-right: 1px solid #EDEDED;
	border-bottom-left-radius: 3px;
}

.itemblock_block2 {
	float:left;
	width: 45px;
	height: 45px;
	border-right: 1px solid #EDEDED;
}

.itemblock_block3 {
	float:left;
	width: 227px;
	height: 45px;
	border-bottom-right-radius: 3px;
	position: relative;
}

.block3_leftcircle {
	width: 25px;
	height: 25px;
	margin: 10px;
	border-radius: 30px;
	background: #ebebeb;
	float: left;
	z-index: 1;
}

.block3_rightcircle {
	width: 25px;
	height: 25px;
	margin: 10px;
	border-radius: 30px;
	background: #ebebeb;
	float: right;
	z-index: 1;
}

.block3_lowline {
	position: absolute;
	top: 21px;
	left: 15px;
	width: 197px;
	height: 3px;
	background: #ebebeb;
	z-index: 1;
}

.block3_cirque {
	position: absolute;
	width: 11px;
	height: 11px;
	background: #52988b;
	border-radius: 15px;
	top: 17px;
	left: 17px;
	z-index: 2;
}

.block3_slidefill {
	position: absolute;
	width: 183px;
	height: 5px;
	top: 20px;
	left: 21px;
	z-index: 3;
}

.block3_fill {
	height: 5px;
	width: 25%;
	background: #52988b;
	z-index: 3;
	border-radius: 5px;
}

.itemblock_innersquare {
	padding: 10px;
	width: 25px;
	height: 25px;
}

.itemblock_innercircle {
	margin: 10px;
	width: 17px;
	height: 24px;
	background: #ebebeb;
	border-radius: 30px;
	font-weight: 800;
	font-size: 17px;
	color: #52988b;
	padding-left: 8px;
	padding-top: 1px;
}

/* Front Class List Elements */

.classrowfront {
	width: 299px;
	background-color: #FAFAFA;
	border-radius: 3px;
	font-weight: 200;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 10px;
}

.classrow {
	width: 675px;
	background-color: #FAFAFA;
	border-radius: 2px;
	font-weight: 200;
	font-size: 22px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.classrow_inactive {
	width: 675px;
	background-color: #FAFAFA;
	border-radius: 2px;
	font-weight: 200;
	font-size: 16px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.classrow_name {
	width: 149px;
	float: left;
	margin: 0;
	padding: 0;
}

.classrow_name_inactive {
	width: 300px;
	float: left;
	margin: 0;
	padding: 0;
	font-style: italic;
}

.classrow_number {
	width: 149px;
	float: right;
	margin: 0;
	padding: 0;
	color: #4e9689;
	font-weight: bold;
	text-align: right;
}

.classrow_number_inactive {
	width: 300px;
	float: right;
	margin: 0;
	padding: 0;
	color: #949494;
	font-weight: bold;
	text-align: right;
}

.classrow_icon {
	font-family: 'Heydings Common Icons';
	color: #bbbbbb;
	font-weight: normal;
	font-size: 16px;
}

.classrow_icon_inactive {
	font-family: 'Heydings Common Icons';
	color: #bbbbbb;
	font-weight: normal;
	font-size: 14px;
}

/* Non-Logged In Front Page Elements */


.gateway_holder {
	width: 900px;
}
.gateway_tagline {
	width: 550px;
	padding-right: 175px;
	padding-left: 175px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 45px;
	text-align: center;
}

.gateway_undertag {
	font-size: 26;
	font-weight: 100;
}

.gateway_left {
	width: 400px;
	float: left;
	padding-left: 50px;
}

.gateway_right {
	width: 400px;
	float: right;
	padding-right: 50px;
}

.gateway_bigbutton {
	width: 200px;
	padding: 25px;
	margin-bottom: 25px;
	color: #EDEDED;
	background: #4e9689; /* Old browsers */
background: -moz-linear-gradient(top,  #4e9689 0%, #57a899 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e9689), color-stop(100%,#57a899)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4e9689 0%,#57a899 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4e9689 0%,#57a899 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4e9689 0%,#57a899 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4e9689 0%,#57a899 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e9689', endColorstr='#57a899',GradientType=0 ); /* IE6-9 */
font-size: 26;
font-weight: 300;
text-align: center;
border-radius: 2px;
cursor: pointer;
}

/* Input Fields */
.basicform {
	margin-top: 12px;
	width: 642px;
}

.basicfield_label {
	background-color: #FAFAFA;
	border: 1px solid #FAFAFA;
	border-right: 0;
	padding: 10px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 14px;
	font-style: italic;
	float: left;
	width: 120px;
	text-align: right;
	position: relative;
	top: 2;
}

.basicfield_fieldholder {
	width: 642px;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	background: #FAFAFA;
	top: 2;
	margin-bottom: 6px;
}

.basicfield_selectholder {
	background-color: #FAFAFA;
	border-top: 1px solid #FAFAFA;
	border-right: 1px solid #FAFAFA;
	border-left: 1px dashed #949494;
	padding: 9px;
	padding-bottom: 10px;
	font-family: "Source Sans Pro";
	font-weight: 200;
	font-size: 16px;
	width: 381px;
	text-align: left;
	float: left;
	position: relative;
}

.basicfield_input {
	background-color: #FAFAFA;
	border-top: 1px solid #FAFAFA;
	border-right: 1px solid #FAFAFA;
	border-left: 1px dashed #949494;
	padding: 9px;
	padding-bottom: 10px;
	font-family: "Source Sans Pro";
	font-weight: 200;
	font-size: 16px;
	width: 500px;
	text-align: left;
	float: left;
}

.basicfield_select {
	background: #FAFAFA;
	border: 1px solid #949494;
	padding: 9px;
	font-family: "Source Sans Pro";
	font-weight: 200;
	font-size: 16px;
	text-align: left;
}

.basicfield_submit {
	background-color: #FAFAFA;
	border: 1px solid #FAFAFA;
	padding: 10px;
	margin-top: 10px;
	font-family: "Source Sans Pro";
	font-weight: 100;
	font-size: 20px;
	width: 200px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	float: right;
}

/* Registration Page */

.wholepage_formholder {
	width: 650px;
	text-align: center;
	background: #EDEDED;
	padding: 20px;
	padding-right: 35px;
	padding-left: 35px;
	border-radius: 5px;
	border: 10px solid #FAFAFA;
}

/* View Classes Page */

.class_minidetails {
	font-size: 13px;
	font-weight: 700;
}

.class_minidetails a:link, .class_minidetails a:visited {
	color: #949494;
}

/* Individual Class Page */

.class_infopanel {
	width: 220px;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	float: left;
}

.class_detailrow {
	padding: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0;
	margin-left: 10px;
	font-size: 18px;
	font-weight: 600;
}

.class_detailspec {
	font-weight: 200;
}

.bulletstyle {
	color: #4e9689;
}

.blendinback {
	color: #EDEDED;
}

.detail_editsite, .detail_editsite a:link, .detail_editsite a:visited {
	color: #949494;
	font-size: 14px;
	font-weight: 200;
}

.infopanel_activitysection {
	width: 200px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #FAFAFA;
	border-radius: 2px;
	color: #4e9689;
	font-weight: bold;
}

.class_studentpanel {
	width: 400px;
	padding: 0;
	padding-left: 35px;
	margin: 0;
	margin-top: 10px;
	border-left: 3px double #DEDEDE;
	float: right;
}

.class_sectionheader {
	font-weight: 400;
	font-size: 30px;
	padding-right: 8px;
	margin-top: 0px;
	margin-bottom: 5px;
	float: left;
}

.class_addnew {
	margin-top: 5px;
}

.studentrow {
	width: 380px;
	background-color: #FAFAFA;
	border-radius: 2px;
	font-weight: 200;
	font-size: 18px;
	padding: 8px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.studentrow_name {
	width: 180px;
	float: left;
	margin: 0;
	padding: 0;
}

.studentrow_report {
	width: 100px;
	float: right;
	margin: 0;
	padding: 0;
	color: #4e9689;
	font-weight: bold;
	text-align: right;
}

.studentrow_male {
	font-family: 'Heydings Common Icons';
	color: #4682B4;
	font-weight: normal;
	font-size: 16px;
}

.studentrow_female {
	font-family: 'Heydings Common Icons';
	color: #DB7093;
	font-weight: normal;
	font-size: 16px;
}

/* Technical Stuff */

.clear {
	clear: both;
}

.layer4 {
	z-index: 4;
	position: relative;
}

.layer3 {
	z-index: 3;
	position: relative;
	top: -35;
}

.layer2 {
	z-index: 2;
	position: relative;
	top: -70;
}

.layer1 {
	z-index: 1;
	position: relative;
	top: -105;
}

.layer0 {
	z-index: 0;
	position: relative;
	top: -150;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.nobottommargin {
	margin-bottom: 0px;
}

.nobottompadding {
	padding-bottom: 0px;
}

.notoppadding {
	padding-top: 0px;
}

.addbottompadding {
	padding-bottom: 5px;
}

.addtopmargin {
	margin-top: 20px;
}

.textaligncenter {
	text-align: center;
}

.headertext {
	font-weight: 700;
	font-size: 38px;
}

.thintext {
	font-weight: 200;
}

.blue, .blue a:link, .blue a:visited {
	color: #4682B4;
}

.popup {
	display: none;
}
</style>